# Ignore build directories
/build/
/cmake-build-debug/
/x64

# Ignore IDE-specific files (CLion, VSCode, etc.)
.idea/
.vscode/
.vs/

# Ignore system-specific files
*.DS_Store
*.exe
*.log

# Ignore object files
*.o
*.obj

# Ignore compiled binaries
*.out
*.so
*.a
*.dll
/UI

/Flower-S.7cbd83c4
